/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&family=Merriweather:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:wght@400;500;800&display=swap');


/*To override default styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Merriweather", serif;
}

/*Header*/
header{
    background-color: #efe1e6;
    padding-left: 1em;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #212549;
}

header a{
    text-decoration: none;
    color: inherit;
}

h1{
    color: #ae4671;
    letter-spacing: 1px;
}

#navbar{
    letter-spacing: 1px;
    font-size: 110%;
    list-style-type: none;
}

#navbar > li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #212549;
}

/*Main*/
main{
    background-color: blueviolet;
    flex: 1 0 auto;
}
/*Footer*/
footer{
    background-color: brown;
}