/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&family=Merriweather:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:wght@400;500;800&display=swap');


/*To override default styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Merriweather", serif;
}

/*Header*/
header{
    background-color: #212549;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #212549;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}

#logo{
    color: #fffeff;
    letter-spacing: 1px;
}

#navbar{
    letter-spacing: 1px;
    font-size: 110%;
    list-style-type: none;
}

#navbar > li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #212549;
}

/*Navbar style*/
nav{
    position: absolute;
    background-color: #fffeff;
    width: 100%;
    box-shadow: 0 2px 2px #212549;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label i{
    font-size: 150%;
    color: #fffeff;
}


/*Main*/
main{
    flex: 1 0 auto;
    margin-top: 40px;
}

#start-section{
    height: 600px;
    width: 100%;
    background: url("../images/first-vaccination.webp") no-repeat center center/cover;
}

#start-section h1{
    /*opacity of background-color*/
    background-color: rgb(33, 37, 73);
    color: #fffeff;
    height: 100px;
    width: 80%;
    font-size: 25px;
    position: absolute;
    right: 0;
    bottom: 25%;
    padding-left: 10%;
}

#main-section div{
    display: flex;
    flex-direction: column;
}

#main-section div h2{
    background-color: #212549;
    color: #fffeff;
    text-align: center;
    margin-bottom: 20px;
}

#main-section div p{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.style-section{
    background-color: #212549;
    margin: 10px 20px;
}

.style-section h4{
    color: #fffeff;
    padding: 10px 20px;
}

/*Footer*/
footer{
    background-color: #212549;
}

footer h3{
    color: #fffeff;
    text-align: center;
}

footer p {
    color: #fffeff;
    text-align: center;
}

/*Social networks link*/
#socials{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #212549;
}

#socials i{
    font-size: 150%;
    padding: 5%;
    color: #fffeff;
}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px){
    /*Header*/
    #navbar{
        display: flex;
    }

    #navbar > li{
        padding-left: 1rem;
    }

    #logo{
        font-size: 280%;
        line-height: 75px;
        margin: 0, 0.5rem;
    }

    /*Main content*/
    main{
        margin-top: 75px;
    }

    #start-section h1{
        width: 100%;
        height: 150px;
        background-color: rgb(33, 37, 73);
        display: absolute;
        bottom: 25%;
        padding-top: 1%;
        font-size: 50px;
        padding-right: 10%;
    }

    #main-section div img{
        margin-left: 50px;
        margin-right: 50px;
        width: 80%;
        height: 400px;
    }
}

/*Media query: laptops and larger (992px and up)*/
@media screen and (min-width: 992px) {
    /*header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: #212549;
        color: #fffeff;
    }

    .active {
        border-bottom: 1px solid #fffeff;
    }

    .nav-toggle-label{
        display: none;
    }

    #navbar a:hover{
        border-bottom: 1px solid #fffeff;
    }

    /*Main content*/
    #main-section div p{
        margin-left: 250px;
        margin-right: 250px;
    }

    #main-section div img{
        height: 500px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Media query: large laptops and larger monitor (1440px and up)*/
@media screen and (min-width: 1440px){
    /*Header*/
    #start-section h1{
        text-align: center;
        bottom: 30%;
    }
    /*Main Content*/
    #main-section div h2{
        margin-left: 300px;
        margin-right: 300px;
    }
    #main-section div p {
        margin-left: 450px;
        margin-right: 450px;
    }
    #main-section div img {
        margin-left: 360px;
        margin-right: 400px;
        width: 50%;
    }
}

@media screen and (min-width: 1650px) {
    #main-section div p {
        margin-left: 600px;
        margin-right: 600px;
    }
    #main-section div img {
        margin-left: 475px;
        margin-right: 400px;
        width: 50%;
    }
}